<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #ffffff;
            font-family: Arial, sans-serif;
            color: #262626;
        }

        .container {
            max-width: 600px;
            background-color: #ffffff;
            border-radius: 10px;
            padding: 20px;
            margin: 20px auto;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        img {
            display: block;
            margin: 0 auto;
            height: 360px;
        }

        .content {
            font-size: 16px;
            text-align: left;
        }

        .credentials {
            padding: 8px 0;
        }
    </style>
</head>

<body>
    <div class="containter">
        <img src="https://drive.google.com/uc?export=view&id=12EmpEOcdVeKSzqPVNXDRjRQrHZssdtc6" alt="Welcome Image" />
        <div class="content">
            <p>Hello, <b>
                    <%= firstname %>
                </b> <b>
                    <%= lastname %>
                </b></p>
            <p>
                Your <b>Admin Account</b> has been successfully created. Below are
                your <b>Account Details</b>:
            </p>
            <div class="credentials">
                <p><strong>Email:</strong>
                    <%= email %>
                </p>
                <p><strong>Password:</strong>
                    <%= password %>
                </p>
            </div>
            <p>
                Please keep this information secure and do not share it with anyone.
            </p>
            <p>Best regards,</p>
            <p>The Power Walker Team!</p>
        </div>
    </div>
</body>

</html>